:root {
    --primary: #FFE15D;
    --text: #6C595A;
    --border: #F5D5AE;
}

@font-face {
    font-family: roundedFont;
    src: url(../font/975MaruSC-Regular.ttf);
}



*{
    margin: 0;
    padding: 0;
}

body {
    font-family: roundedFont ;
    background-color: #FAFAFA;
    background-image: url("/南翔古镇/image/bg.jpeg");
    background-size: 200px;
}



p {
    color: var(--text);
    font-size: 24px;
    line-height: 40px;
}

small {
    line-height: 15px;
    font-size: 13px;
}

pre {
    text-align: center;
    line-height: 20px;
}

a {
    text-align: center;
}

.brown-text {
    color: #6C595A;
}

header {
    background-color: #BBAFA9;
    background-image: url("/南翔古镇/image/home_nav.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    padding-top: 40px;
}

a {
    text-decoration: none;
}

.nav {
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}


.nav a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
}

.link:link{
    color: white;
}

.link:visited {
    color: white;
}

.link:hover {
    color:var(--primary);
}

.link:active {
    color:var(--primary);
}

.active-link {
    color:var(--primary);
}
.active-link:visited{
    color:var(--primary);
}




.separator {

    height: 8px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--border);
    border-radius: 10px;
}

.spacer {
    height: 100px;
}

.label {
    font-size: 24px;
    font-weight: 100;
    color: black;
    background-color: var(--primary);
    writing-mode: vertical-lr;
    padding: 80px 20px 80px 20px;
    border-radius: 30px;

}

.intro {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.intro p {
    margin-left: 80px;
    margin-right: 80px;

    font-size: 24px;
    line-height: 40px;
}

.cover-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    writing-mode: vertical-lr;
    color: white;
    width: 15%;
    border-radius: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.cover-img:hover {
    cursor: pointer;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}
c
.cover-img h1 {
    color: white;
    font-size: 36px;
    letter-spacing: 15px;
    font-weight: 100;
}

.vertical-img {
    display: block;
    width: 15%;

    border-radius: 40px;
    object-fit: cover;
    object-position: 100% 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.vertical-img:hover{
    cursor: pointer;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}


.pics {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.intro-2 {
    height: 400px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    border: var(--text) solid 10px;
    padding: 40px;
    border-radius: 40px;
}

.intro-2 img {

    width: 30%;;
    border-radius: 20px;
    border: var(--border) 10px solid;
}

.intro-2 p {
    width: 30%;
}


.vertical-label {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    writing-mode: vertical-lr;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 40px;

}

.vertical-label h1 {
    font-size: 25px;
    font-weight: 100;
}

.brown-bg {
    background-color: #BBAFA9;
}

.intro-3 {
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin: 200px 10% 200px 10%;
    padding: 100px;
    border-radius: 30px;

}

.capsule-label {
    text-align: center;
    width: 120px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 24px;
    color: black;
    padding: 10px 30px 10px 30px;
    border: var(--primary) 10px solid;
    border-radius: 50px;

}

.white-text {
    color: white;
}

.history {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.history img {
    width: 20%;
    margin-right: 20px;
    border-radius: 20px;
    border: var(--border) 10px solid;

}

.history img:hover {
    border: var(--border) 10px solid;
    cursor: pointer;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}

.history p {
    display: inline;
}


footer {
    height: 200px;
}

footer {
    width: 10%;
    margin: auto;
}

footer h3 {
    margin-top: 80px;
    text-align: center;
}

footer ul{
    margin-top: 20px;
    text-align: center;
    list-style: none;
    display:  flex;
    justify-content: space-evenly;
}

.places {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: flex-start;
}

.place {
    padding: 30px;
}

.place p {
    padding-top: 20px;
}

.column {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}


.food {
    display: flex;
    align-items: center;
}



.food-img {
    width: 12%;
    border-radius: 50px;
    border: var(--border) 10px solid;
}

.food-img:hover {
    border: var(--border) 10px solid;
    cursor: pointer;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}


.food-item {
    padding: 30px;
    
}

.food-item p {
    margin: 50px 10px 50px 10px;
}

.title-link {
    color: inherit;
    text-decoration: none;
    padding: 20px 80px 20px 80px;
    border: var(--primary) dashed 8px;
    border-radius: 15px;
}

.title-small {
    color: var(--text);
    text-align: center;
    border: var(--primary) 8px solid;
    margin: auto;
    width: 150px;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}

.title {
    color: var(--text);
    text-align: center;
    font-size: 30px;
}

.title-small:hover{
    cursor: pointer;
    color: black;
    background-color: var(--primary);
}


.title-link:hover {
    padding: 20px 80px 20px 80px;
    background-color: var(--primary);
    color: black;
    border-radius: 15px;
}

.sizedbox {
    width: 10%;
}


.accommodation {
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

.hotel-name {
    color: var(--text);
    margin: auto;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.accommodation img {
    display: block;
    width: 80%;
    border-radius: 20px;
    border: var(--border) 8px solid;
    margin: auto;

}


.accommodation img:hover {
    border: var(--border) 8px solid;
    cursor: pointer;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}

.culture {
    display: flex;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
    height: 300px;

}

.culture img {
    height: 15vh;
    margin-right: 20px;
    border-radius: 1000px;


}

.culture img:hover {
    cursor: pointer;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}



.culture-text p{
    font-size: 18px;
    line-height: 24px;
}



.culture-container {
    display: flex;
    align-items: center;
    margin: 100px 10%;
}

.people-container {
    display: flex;
    align-items: center;
    margin: 100px 10% 100px 10%;
    padding: 50px;
    border-radius: 30px;
}

.people-container:hover {
    cursor: pointer;
    background-color: var(--primary);
}

.people {
    margin-right: 5%;
}

.people-name {
    text-align: center;
    color: var(--text);
    font-size: 36px;
    margin-top: 10px;
}

.people-intro {
    color: var(--text);
    font-size: 28px;
    line-height: 40px;
    margin-right: 5%;
}

.people-intro-long {
    color: var(--text);
    font-size: 28px;
    line-height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.people img {
    border-radius: 10px;
}